@import '../PageBody/consts.scss';


.film-card {

    .reactions {
        display: flex;
        width: 100%;

        @media #{$md-max} {
            justify-content: flex-end;
        }
    }

    .like-dislike {

        &:first-child {
            margin-left: 0;
        }

        @media #{$md-max} {
            margin-left: 16px;
        }

        &-button {

            @media #{$md-max} {
                padding: 6px;
            }

            &-icon {
                font-size: 30px;
        
                @media #{$md-max} {
                    font-size: 15px;
                }
        
                @media #{$lg-min} {
                    font-size: 20px;
                }
            }
        }
    }

    .like-dislike-value {
        @media #{$md-max} {
        }

        @media #{$lg-min} {
            margin: 0 10px 0 5px;
        }
    }
}