.user-drop-down-menu {
    .user-drop-down-menu-item,
    .user-drop-down-menu-item a {
        color: #000a !important;
    }

    .user-drop-down-menu-item {
        &-person {
            display: flex;
            justify-content: center;
        }
    }
}

.login-modal {

    
    &-item {


        &-error {
            margin: 8px 0;
            font-size: 13px;
            color: #d00;
        }
    }
}