.main-footer {

    .footer-search{
        padding: 11px 27px;
        border: 1px solid #7BA337;
        border-radius: 100px;
        background: #fff;
        box-shadow: inset 0 0 17px #7BA337;
        
        .type-search {
            width: 250px;
        }
    }
}